---
import "../styles/garden-entry.css";
import { ClientRouter } from "astro:transitions";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Header from "../components/Header.astro";
import SideBar from "../components/SideBar.astro";
import OnThisPage from "../components/OnThisPage.astro";
import Search from "astro-pagefind/components/Search";

type Props = CollectionEntry<"entries">["data"] & {
  headings: { depth: number; text: string; slug: string }[];
};
---

<html lang="en">
  <head>
    <BaseHead title={Astro.props.title} description={Astro.props.description} />
    <ClientRouter />
  </head>
  <body
    class="font-display bg-[var(--color-bg-alt)] text-[var(--color-fg)] min-w-full h-screen overflow-y-hidden"
  >
    <NavBar />

    <div class="flex flex-row h-screen">
      <aside class="flex-row max-w-76 min-w-76 h-screen hidden lg:flex">
        <SideBar />
      </aside>

      <main
        class="overflow-y-scroll w-full max-h-none"
        {/* mx-auto max-w-1xl md:max-w-3xl px-4 md:px-8 lg:px-0 flex-grow text-pretty overflow-y-auto */}
      >
        <Header
          title={Astro.props.title}
          description={Astro.props.description}
          tags={Astro.props.tags}
          lastEdited={Astro.props.editDate}
          created={Astro.props.pubDate}
        />
        <article id="content" class="px-6 md:px-8 py-10 max-w-4xl mx-auto">
          <slot />
        </article>
        <Footer />
      </main>

      <aside class="w-128 h-screen hidden xl:block">
        <OnThisPage headings={Astro.props.headings} />
      </aside>
    </div>
  </body>
</html>
